@import "../navbar/navbar.css";

html {
    font-size: 10px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 37.5rem;
    max-height: 22.5rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0; padding: 0;
}

main {
    margin: 2rem; padding: 2rem;
}

#TopText {
    font-size: 14rem;
    color: Black;
    font-weight: bold;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.2rem;
    color: white;
}

p {
    font-size: 2rem;
    color: white;
}

.card {
    background-color: black;
    width: 37.5rem;
    height: 60rem;
    margin: 4rem 2rem;
    border: 0.1rem solid darkgray;
    border-radius: 1rem;
    overflow: hidden;
    float: left;

    /*Shadow*/
    box-shadow: 0 0 .5rem 0 lightgray;

    position: relative;
    top: 0;
    transition: top ease .5s;
}

.card-description {
    margin: 2rem 1rem;
}

.card:hover {
    top: -1rem;
    box-shadow: 0 0 2rem 1rem #b9f2ff;
}