@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap');

#Y {
    color: rgba(22, 89, 157, 0.65);
    margin-right: 7px;

}

#CTAText {
    font-size: 120px;
    font-weight: bold;
    margin-top: 13%;
}

h1{
    font-size: 65px;
    color: white;
}
#menu{
    align-self: flex-end;
    margin-top: -10px;
    position: absolute;
}

#menu:hover{
    transform: scale(0.98);
    cursor: pointer;
    text-shadow: -2px -2px black;
}

#menu:active {
    opacity: 0.4;
}

#logo{
    align-self: flex-start;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
}

#logo:hover{
    transform: scale(0.98);
    cursor: pointer;
}

#logo:active{
    opacity: 0.4;
}

body{
    background-image: linear-gradient(to top, rgba(34, 184, 207, 0.7), azure, rgba(180, 46, 83, 0.62));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter;
    min-width: 550px;
    min-height: 600px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topText {
    display: flex;
    flex-direction: row;
}

a:link {
    text-decoration: none;
    color: unset;
}

a:visited {
    text-decoration: none;
    color: unset;
}

#menu-choice-list {
    list-style: none;
    color: white;
    font-family: Inter;
    font-size: 40px;
    font-weight: bold;
    float: left;
    overflow: hidden;
    position: absolute;
    top: 8px;
    right: 16px;
    margin-right: 10px;
    margin-top: 10px;
}

li{
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

#home-button:hover,#products-button:hover, #about-us-button:hover {
    transform: scale(0.98);
    cursor: pointer;
}

#home-button:active,#products-button:active, #about-us-button:active {
    opacity: 0.4;
}