@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');


html {
    font-size: 10px;
    box-sizing: border-box;
    max-width: 192rem;
}
@media screen and (max-width: 192rem) {

    body {
        background-image: linear-gradient(to top, rgba(174, 255, 255, 0.75), azure, rgba(180, 46, 83, 0.62));
        background-repeat: no-repeat;
        background-attachment: scroll;
        font-family: Inter, sans-serif;
        margin: 0;
        padding: 0;
        background-color: black;
    }

    .navbar {
        background: transparent !important;
    }

    #mainContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center-text {
        max-width: 130rem;
        display: grid;
        width: 100%;
        margin: 4.5rem auto auto;
    }

    #CTAText {
        position: relative;
        font-size: 14rem;
        font-weight: bold;
        margin-top: 0;
        top: 10%;
        left: 20%;
        color: #1f1e1e;
        align-items: center;
        max-width: 100rem;
    }

    #Y {
        color: white; /*rgba(34, 184, 207, 0.7);*/
        margin-right: 0.7rem;
        animation: text-flicker 3s linear infinite;
        animation: letter-flicker 2s linear infinite;
    }


    @keyframes text-flicker {
        0% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }

        2% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }
        8% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }
        9% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }
        12% {
            opacity: 0.1;
            text-shadow: 0px 0px rgba(34, 184, 207, 0.7);
        }
        20% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7)
        }
        25% {
            opacity: 0.3;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7)
        }
        30% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7)
        }

        70% {
            opacity: 0.7;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7)
        }

        72% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7)
        }

        77% {
            opacity: .9;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7)
        }
        100% {
            opacity: .9;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7)
        }
    }

    @keyframes letter-flicker {
        0% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }
        2% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }
        4% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }


        19% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }
        21% {
            opacity: 0.1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }
        23% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }

        80% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }
        83% {
            opacity: 0.4;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }
        87% {
            opacity: 1;
            text-shadow: 0px 0px 29px rgba(34, 184, 207, 0.7);
        }
    }


    .used-by-section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3.8rem;
        margin-bottom: 3rem;
        padding: 5rem 0 10rem 0;
        background-color: rgba(240, 255, 255, 0.32);
        width: 100%;
        height: 25rem;
        position: relative;
    }

    .used-by-list {
        position: absolute;
        display: flex;
        list-style: none;
        justify-content: center;
        left: 50%;
        right: 50%;
        top: 30%;
        align-items: center;
    }

    .used-by-company {
        margin-left: 10rem;
        margin-right: 10rem;
        flex: 2rem;
    }

    .trusted-by-paragraph {
        position: absolute;
        text-align: center;
        top: 10%;
        font-size: 3rem;
        color: rgba(0, 0, 0, 0.32);
        width: 50%;
        margin: 0 auto;
        left: 27%;
        justify-content: center;
        white-space: nowrap;
        align-items: center;
    }

    .trusted-by-millions-paragraph {
        position: absolute;
        text-align: center;
        top: 23%;
        color: rgba(0, 0, 0, 0.52);
        font-size: 2rem;
        margin: 0 auto;
        width: 50%;
        left: 27%;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }

    .front-page-products {
        position: relative;
        background-color: transparent;
        width: 100%;
        height: 55rem;
        margin: 8rem 10rem 6rem;
    }

    .card {
        background-color: rgba(240, 255, 255, 0.59);
        width: 37.5rem;
        height: 50rem;
        margin: 2rem 2rem;
        border: 0.2rem solid rgb(255, 255, 255);
        border-radius: 1rem;
        overflow: hidden;
        float: left;
        /*Shadow*/
        box-shadow: 0 0 .5rem 0 lightgray;
        position: relative;
        top: 0;
        transition: top ease .5s;
    }

    .card-description {
        margin: 2rem 1rem;
    }

    .card:hover {
        top: -1rem;
        box-shadow: 0 0 2rem 1rem rgba(180, 46, 83, 0.24);
        cursor: pointer;
    }

    .card:active {
        box-shadow: 0 0 2rem 1rem rgba(185, 242, 255, 0.21);
    }

    .products-picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 37.5rem;
        max-height: 22.5rem;
    }

    .top-text {
        font-size: 3.5rem;
        color: Black;
        font-weight: bold;
        text-align: center;
        margin-top: 0;
    }

    .product-solutions-main {
        height: 41.2rem;
        border-radius: 0.4rem;
        background-size: cover;
        position: relative;
        top: 100rem;
        padding-top: 2.5rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 15rem;
    }

    .product-image {
        width: 75.4rem;
        height: 53.5rem;
        margin-left: 5rem;
    }

    .product-top-text {
        font-size: 3.9rem;
        color: rgba(0, 0, 0, 0.71);
        margin-left: 5rem;
    }

    .card-p {
        text-align: center;
        font-size: 1.5rem;
    }

    .our-values {
        position: relative;
        background-color: transparent;
        width: 100%;
        max-width: 160rem;
        height: 55rem;
        margin-top: 6rem;
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        gap: 3rem;
    }

    .value {
        padding: 2.5rem 4.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;

    }

    .value-img {
        margin-bottom: 1rem;
        padding: 2rem;
        position: relative;
        border-radius: 50%;
        background-color: rgba(240, 255, 255, 0.59);
        opacity: 85%;
        width: 15rem;
        height: 15rem;
    }

    .value-text {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .value-heading {
        font-family: "Freestyle Script", sans-serif;
        font-size: 6.5rem;
        margin: 0;
        padding: 0;
        font-weight: 500;
        letter-spacing: 0.2rem;
        color: rgba(180, 46, 83, 0.78);

    }

    .value-paragraph {
        font-size: 2rem;
        margin-top: 2rem;
        padding: 0;
        line-height: 3.5rem;
        color: #383535;
        max-width: 45rem;
    }

    .about-us {
        position: relative;
        background-color: transparent;
        width: 100%;
        max-width: 160rem;
        height: auto;
        margin: 8rem 10rem 6rem;
    }

    .about-us-head {
        font-family: "Freestyle Script", sans-serif;
        font-size: 10rem;
        margin: 0;
        padding: 0;
        font-weight: 500;
        letter-spacing: 0.2rem;
        color: rgba(180, 46, 83, 0.78);
        text-align: center;

    }

    .about-us-head2 {
        font-size: 2rem;
        padding: 0;
        font-weight: 500;
        letter-spacing: 0.2rem;
        color: rgba(24, 18, 20, 0.67);
        text-align: center;
        margin: 0 0 4rem;
    }

    .about-us-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .about-us-section {
        position: relative;
        width: 47%;
        margin: 2rem;
        text-align: left;
        flex: 1;
    }

    .about-us-paragraph {
        font-size: 2.3rem;
        line-height: 5rem;
        margin-top: 5rem;
    }

    .about-us-image {
        margin: 4rem auto auto 2rem;
        padding: 2rem;
        position: relative;
        border-radius: 50%;
        background-color: rgba(240, 255, 255, 0.59);
        opacity: 85%;
        width: 30rem;
        height: 30rem;
        object-fit: cover;
        transition: 0.5s;
    }

    .about-us-image:hover {
        transform: scale(1.2);
        background-color: transparent;
    }

    .map-container {
        align-items: center;
        margin-bottom: 5rem;
        background-color: rgba(240, 255, 255, 0.59);
        border-radius: 5%;
    }

    .map {
        margin: 2rem;
        border-radius: 5%;
        object-fit: cover;
        transition: 0.5s;
    }


    .review-container {
        max-width: 160rem;
        margin: 0 auto;
        position: relative;
        text-align: center;
        height: 60rem;
        width: 100%;
    }

    .review-header {
        font-family: "Freestyle Script", sans-serif;
        font-size: 6rem;
        margin: 0;
        padding: 0;
        font-weight: 500;
        letter-spacing: 0.2rem;
        color: rgba(180, 46, 83, 0.78);
        text-align: center;
    }

    .review-header2 {
        font-size: 2.5rem;
        padding: 0;
        font-weight: 500;
        letter-spacing: 0.2rem;
        color: rgba(24, 18, 20, 0.67);
        text-align: center;
        margin: 3rem 0 4rem;
    }

    .reviewer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30rem;
        text-align: center;
        align-items: center;
    }

    .review-box {
        flex: 2 1 auto;
    }

    .review-paragraph {
        width: 90%;
        font-size: 2.5rem;
        align-items: center;
        margin-top: 8rem;
        display: flex;
        text-align: center;
        font-weight: lighter;
        line-height: 4.2rem;
    }

    .review-name {
        font-weight: lighter;
        font-size: 2.3rem;
        padding: 0;
        margin-top: 1rem;
        width: 90%;
    }

    .review-image-container {
        margin-top: 4rem;
        align-items: center;
        width: 90%;
    }

    .review-image {
        margin: 0;
        padding: 0;
        position: relative;
        border-radius: 50%;
        opacity: 100%;
        width: 11rem;
        height: 11rem;
        object-fit: cover;
    }

    .footer-container {
        background: transparent;
        padding: 2rem;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 6rem;
    }
}