<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row">

            <div class="footer-col">
                <h1 class="footer-logo">ProFlex</h1>
                <p>Copyright &copy; 2023 NTNU, IDATA2301 Webteknologi - gruppe 6</p>
            </div>

            <div class="footer-col">
                <h2>Account</h2>
                <ul>
                    <li><a th:href="@{/profile-page}">My Account</a></li>
                    <li><a th:href="@{/signup}">Create account</a></li>
                    <li><a th:href="@{/login}">Log in</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h2>Products</h2>
                <ul>
                    <li><a th:href="@{/products}">Our products</a></li>
                    <li><a th:href="@{/profile-page}">My subscriptions</a></li>
                    <li><a href="@{/products?category=legal}">Legal Solutions</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h2>Company</h2>
                <ul>
                    <li><a th:href="@{/#AboutUsSection}">About us</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Talent searching</a></li>
                </ul>
            </div>

        </div>
    </div>

</footer>

