<nav id="header" th:fragment="header">
    <div class="header-container">
        <a th:href="@{/}" id="proflex-logo">ProFlex</a>

        <ul class="menu-choice-list">
            <li class="menu-button"><a th:href="@{/}" class="menu-links">Home</a></li>
            <li class="menu-button"><a th:href="@{/#AboutUsSection}" class="menu-links">About us</a></li>
            <li class="menu-button"><a th:href="@{/products}" class="menu-links">Products</a></li>
            <li  class="menu-button log-in-button"><a th:href="@{/profile-page}">
                <img th:src="@{/images/user-icon.png}"
                     width="55"
                     alt="Image of user icon"/>
<!--                <img th:if="${user != null} && ${user.imgURL != null}"-->
<!--                     th:src="${user.imgURL}"-->
<!--                     width="55"-->
<!--                     alt="User image" />-->
<!--                <img th:if="${user != null} && ${user.imgURL == null}"-->
<!--                     th:src="@{/images/user-icon.png}"-->
<!--                     width="55"-->
<!--                     alt="Image for login icon"/>-->
            </a></li>
        </ul>
    </div>

    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox"/>
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul class="menu__box">
            <li><a class="menu__item" th:href="@{/}">Home</a></li>
            <li><a class="menu__item" th:href="@{/#AboutUsSection}">About us</a></li>
            <li><a class="menu__item" th:href="@{/products}">Products</a></li>
            <li><a class="menu__item" th:href="@{/login}">Login</a></li>
        </ul>
    </div>
</nav>
