<main th:fragment="product-individual">
    <section id="product-page">
        <div th:each="info : ${infos}" th:if="${info.product.productId == products.productId}">
            <section class="info-section">
                <div class="img-container">
                    <img class="product-img" th:src="${info.imageURL}" alt="Picture of our solution"/>
                </div>
                <div class="description-container">
                    <h2 th:text="${products.productName}" class="product-name"></h2>

                    <!--                    <div class="review-container" id="stars-container" th:if="${reviews.rating != null}">-->
                    <!--                        <span id="star" th:each="star : ${#numbers.sequence(1,5)}"-->
                    <!--                                        th:class="${reviews.rating >= star} ? 'star-filled' : 'star-empty'">&#9733;</span>-->
                    <!--                    </div>-->

                    <p th:text="${info.longDescription}" class="product-description" id="product-description1"></p>

                    <div th:unless="${owned}">
                    <form method="get" th:action="@{'/products/' + ${products.productId} + '/payment'}" class="date-form">
                        <label for="startDate" class="date-text">Start date: </label>
                        <input type="date" id="startDate" name="startDate" class="date-box">
                        <label for="endDate" class="date-text">End date: </label>
                        <input type="date" id="endDate" name="endDate" class="date-box">
                        <div id="button-container">
                            <span class="main-button">
                                <button class="buy-now-button"
                                    title="Click here to see subscription options">Buy Now</button>
                            </span>
                        </div>
                    </form>
                    <span id="warning-message"></span>
                    </div>
                    <div th:if="${owned}">
                        <form th:action="@{'/products/' + ${products.productId} + '/subscription/delete'}" method="post"  class="main-button">
                                <button type="submit" class="buy-now-button"
                                        title="Click here to see unsubscribe from product">Unsubscribe</button>
                        </form>
                    </div>
                </div>
            </section>

            <section class="price-button-container">
                <div class="price-container">
                    <p class="product-price" th:text="${products.price} + ',-/month'"></p>
                </div>
            </section>
        </div>
    </section>

    <section class="add-review-section">
        <h2 class="header-feedback">Got feedback on the product?</h2>
        <textarea class="feedback-box" maxlength="500" placeholder="Anything on your heart?"></textarea>
        <button class="submit-button">Submit review</button>
    </section>
</main>