.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    flex-shrink: 1;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.swiper {
    width: 100%;
    height: auto;
    margin: 2rem auto;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgba(174, 255, 255, 0.75);
    color: rgba(174, 255, 255, 0.75);
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

.card {
    background-color: rgba(240, 255, 255, 0.59);
    width: 30rem;
    height: 52rem;
    margin: 2rem 2rem;
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 1rem;
    overflow: hidden;
    float: left;
    /*Shadow*/
    box-shadow: 0 0 .5rem 0 lightgray;
    position: relative;
    top: 0;
    transition: top ease .5s;
}

.card-description {
    margin: 2rem 1rem;
}

.card:hover {
    top: -1rem;
    box-shadow: 0 0 2rem 1rem rgba(180, 46, 83, 0.24);
    cursor: pointer;
}

.card:active {
    box-shadow: 0 0 2rem 1rem rgba(185, 242, 255, 0.21);
}

.products-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 37.5rem;
    max-height: 22.5rem;
    width: auto;
    height: auto;
}

.top-text {
    font-size: 3.5rem;
    color: Black;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.product-image {
    width: 75.4rem;
    height: 53.5rem;
    margin-left: 5rem;
}

.product-top-text {
    font-size: 3.9rem;
    color: rgba(0, 0, 0, 0.71);
    margin-left: 5rem;
}

.card-p {
    text-align: center;
    font-size: 1.5rem;
}

.swiper-button-next, .swiper-button-prev{
    color: #AEFFFFBF;
    width: 100%;
}
