@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "header.css";

html {
    font-family: Inter, sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    /*background-image: linear-gradient(to top, #aeffff, azure, rgba(180, 46, 83, 0.62));*/
    /*background-repeat: space;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url('../images/Background.png') repeat fixed;
    background-size: cover;
}

.proFlexLogo {
    margin: 1rem;
    position: fixed;
    font-weight: bold;
    font-size: 8rem;
    color: white;
}

.login-text {
    font-size: 3rem;
}

a{
    text-decoration: none;
}

main {
    align-items: center;
    align-self: center;
    width: fit-content;
}

/*#383535*/
#login-container {
    display: flex;
    flex-direction: column;
    min-width: 50rem;
    background-color: rgba(0,0,0,0.91);
    border-radius: .9rem;
    min-height: 50rem;
    margin: 10rem;
    padding: 2rem 0;
    color: white;
}

span {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    margin: 2rem;
}

input {
    margin: 1rem 0;
    font-size: 1.8rem;
    padding: 0.5rem;
    border-radius: .1rem;
}

label {
    display: flex;
    font-size: 2rem;
    font-weight: normal;
}

button {
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font-size: 1.45rem;
    font-weight: bold;
    margin: 0 1rem;
    width: 20rem;
    padding: 1rem 0;
    transition: .4s;
}

p {
    font-size: 1.5rem;
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button:hover {
    color: white;
    background-color: #ef4374;
}

.passwords {
    display: flex;
    flex-direction: row;
}

#signup_link{
    text-decoration: none;
    color: #ef4374;
}

.login-button {
    color: #b42e53;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #b42e53;

    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

