@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "navbar.css";

html {
    font-family: Inter, sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    /*background-image: linear-gradient(to top, #aeffff, azure, rgba(180, 46, 83, 0.62));*/
    /*background-repeat: space;*/
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
}


body{
    background: url('../images/Background.png') repeat fixed;
    background-size: cover;
}


h2 {
    font-size: 5rem;
    text-align: center;
}

input {
    border-radius: 0.5rem;
}
a{
    text-decoration: none;
}

main {
    align-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    width: fit-content;
}

/*#383535*/
#login-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-width: 50rem;
    background-color: rgba(121,121,121,0.66); /*rgba(56, 53, 53, 0.8);*/
    color: white;
    border-radius: 1rem;
    min-height: 50rem;
    margin-bottom: 10rem;
}

span {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

input {
    margin: 1rem;
    font-size: 2rem;
    padding: 0.5rem;
}

label {
    font-size: 3rem;
    font-weight: bold;
}

label:hover {

}

button {
    border: 0;
    border-radius: 4rem;
    cursor: pointer;
    font-weight: 600;
    margin: 0 1rem;
    width: 20rem;
    padding: 1rem 0;
    transition: .4s;
}

p {
    font-size: 1.5rem;
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button:hover {
    color: white;
    background-color: #ef4374;
}

.passwords {
    display: flex;
    flex-direction: row;
}

#signup_link{
    text-decoration: none;
    color: #ef4374;
}

h1{
    color: white;
    font-weight: bold;
    font-size: 6.5rem;
    margin: 1rem;
}

.login-button {
    color: #b42e53;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #b42e53;
}

