html {
    font-family: Inter, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;

}

.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 30rem;
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(87, 65, 65, 0.34);
}

.payment-information-container {
    display: flex;
    flex-direction: column;
}

.top-text {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 3rem;
}

.product-info {
    margin: 0;
}

.form-information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#place-order-button {
    margin-top: 2rem;
    margin-bottom: 3rem;
    height: 3rem;
    border-radius: 10px;
    background-color: rgba(34, 115, 207, 0.7);
    font-size: 1rem;
    font-weight: bolder;
    color: white;
}

#place-order-button:hover {
    background-color: rgba(34, 115, 207, 0.44);
    transition: ease-in;
    cursor: pointer;
}

#place-order-button:active {
    background-color: rgba(34, 115, 207, 0.2);
}


input {
    height: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
}
.payment-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.payment-picture {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.dates {
    font-size: 1rem;
}

#product-name, #userId, #productId {
    visibility: hidden;
    height: 0;
}

