@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap');

body {
    /*background-image: linear-gradient(to top, rgba(34, 184, 207, 0.7), azure, rgba(180, 46, 83, 0.62));*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    font-family: Inter, sans-serif;
    min-width: 550px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a{
    text-decoration: none;
    color: unset;
}

h2{
    font-size: 4em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#product-page{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-container {
    margin: 4rem 4rem 4rem 20rem;
}

.description-container {
    margin: 4rem 20rem 4rem 4rem;
    display: flex;
    flex-direction: column;
}

.product-name {
    margin: 0;
    font-size: 4rem;
}

.product-description {
    width: 50rem;
    font-size: 1.5rem;
    line-height: 3rem;
}

.product-price {
    font-size: 5rem;
    font-weight: bolder;
    color: #000000B2;
    margin: 0;
    text-decoration: underline;
}

.price-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#star {
    font-size: 2rem;
}



#title-description {
    font-size: 2rem;
    color: #000000B2;
}

#buy-now-button, .submit-button {
    color: white;
    background-color: #b42e53;
    border: 1px solid #b42e53;
    transition: .5s;

    text-align: center;
    display: flex;
    justify-content: center;

    margin: 5rem 1rem 1rem;
    padding: 2rem;
    text-transform: uppercase;

    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 0.1em;
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
}

#buy-now-button:hover, .submit-button:hover {
    cursor: pointer;
    color: white;
    background-color: #ef4374;
}

#buy-now-button:active {
    color: rgba(0, 0, 0, 0.7);
    transition: 0s;
}
.description-container {
    margin-top: 2rem;
}


img{
    border-radius: 1em;
}

.main-button{
    display: flex;
    flex-direction: column;
}

p{
    font-family: inter, serif;
    color: #000000;
    font-size: 1em;
}

.add-review-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 100rem;
}

textarea {
    resize: none;
    height: 20rem;
    width: 100%;
    max-width: 60rem;
    font-family: Inter, sans-serif;
    margin-top: 2rem;
}

.header-feedback {
    margin: 0;
}

.submit-button:hover {
    background-position: right center;
    cursor: pointer;
}

.submit-button:active {
    color: rgba(0, 0, 0, 0.7);
    transition: 0s;
}

.date-form {
    margin: 2rem;
}

.date-text {
    font-size: 2rem;
}

.date-box {
    height: 3rem;
    width: 10rem;
    margin-right: 2rem;
}

.review-container {
    height: auto;
    margin-top: 2rem;
}

.star {
    font-size: 2rem;
}

.review-container-static {
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.product-img {
    height: 50rem;
    margin-bottom: 2rem;
}


.add-review-section {
    margin: 6rem;
}



