@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap');

body {
    /*background-image: linear-gradient(to top, rgba(34, 184, 207, 0.7), azure, rgba(180, 46, 83, 0.62));*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    font-family: Inter, sans-serif;
    min-width: 550px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar{
    background-image: linear-gradient(to top, rgba(34, 184, 207, 0.7), rgba(180, 46, 83, 0.62) 50%);
    height: 80px;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding-top: 10px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
}

#proflex-logo{
    padding-left: -10px;
    font-size: 65px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    margin-top: -10px;
}

#proflex-logo:hover{
    transform: scale(0.98);
    cursor: pointer;
}

#proflex-logo:active{
    opacity: 0.4;
}

.menu-choice-list{
    list-style: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
    float: left;
    overflow: hidden;
    position: absolute;
    top: 2px;
    right: 16px;
    margin-right: 0;
    margin-top: 15px;
    text-decoration: none;
}

.menu-button {
    float: left;
    margin-left: 20px;
    margin-right: 5px;
    color: white;
}

.menu-button:hover{
    transform: scale(0.98);
    cursor: pointer;
}

.menu-button:active{
    opacity: 0.4;
}

.menu-links{
    color: white;
    text-decoration: none;
}

.menu-links:hover{
    transform: scale(0.98);
    cursor: pointer;
}

.menu-links:active{
    opacity: 0.4;
}

a{
    text-decoration: none;
    color: unset;
}

h2{
    font-size: 4em;
    font-weight: bold;
    color: azure;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#buy-option{
    width: 100%;
    background: #22B8CFB2;
    /*align-items: center;*/
    text-align: center;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 25em;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*flex-wrap: wrap;*/
    /*width: fit-content;*/
    margin-top: auto;
    padding: 1em 10em;
}

#buy-now-button {
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #eee;
    border-radius: 0.1em;
    background-image: linear-gradient(to right,  azure 50%, rgba(180, 46, 83) 100%);
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
}

#buy-now-button:hover {
    background-position: right center;
    cursor: pointer;
    /*color: darkgreen;*/
}

#buy-now-button:active {
    color: black;
    transition: 0s;
}

img{
    border-radius: 1em;
}

#text-and-button-container{
    display: flex;
    flex-direction: column;
    max-width: 25em;
}

p{
    font-family: inter;
    color: white;
    font-size: 1em;
}