@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap');

body {
    /*background-image: linear-gradient(to top, rgba(34, 184, 207, 0.7), azure, rgba(180, 46, 83, 0.62));*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    font-family: Inter, sans-serif;
    min-width: 550px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a{
    text-decoration: none;
    color: unset;
}

h2{
    font-size: 4em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#product-page{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.info-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 5rem;
}

#title-description {
    font-size: 2rem;
    color: #000000B2;
}

#buy-now-button {
    margin: 5rem 1rem 1rem;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px #eee;
    border-radius: 0.1em;
    background-image: linear-gradient(to right,  azure 50%, rgba(180, 46, 83) 100%);
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
}

#buy-now-button:hover {
    background-position: right center;
    cursor: pointer;
    /*color: darkgreen;*/
}

#buy-now-button:active {
    color: rgba(0, 0, 0, 0.7);
    transition: 0s;
}
.description-container {
    margin-top: 2rem;
}
.product-description {
    font-size: 1.5rem;
    margin-top: 1rem;
}

img{
    border-radius: 1em;
}

.main-button{
    display: flex;
    flex-direction: column;
    max-width: 25em;
}

p{
    font-family: inter;
    color: #000000;
    font-size: 1em;
}
.product-name {
    margin: 0;
}

.add-review-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

textarea {
    resize: none;
    height: 20rem;
    width: 40rem;
    font-family: Inter, sans-serif;
}

.header-feedback {
    margin: 0;
}

.submit-button {
    margin: 5rem 1rem 1rem;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px #eee;
    border-radius: 0.1em;
    background-image: linear-gradient(to right,  azure 50%, rgba(180, 46, 83) 100%);
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
    border: none;
}

.submit-button:hover {
    background-position: right center;
    cursor: pointer;
}

.submit-button:active {
    color: rgba(0, 0, 0, 0.7);
    transition: 0s;
}

.review-container {
    height: auto;
    margin-top: 2rem;
}

.star {
    font-size: 2rem;
}

.review-container-static {
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}



