<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{'https://cdn.jsdelivr.net/npm/swiper9/swiper-bundle.min.css'}" />
    <script th:href="@{'https://cdn.jsdelivr.net/npm/swiper9/swiper-bundle.min.js'}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/carousel.css}">
    <script th:src="@{js/carousel.js}"></script>
</head>

<body>

<section id="swiperRef" class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card">
                <img th:src="@{images/Online-scheduling-software-2.jpg}" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software1</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <img th:src="@{images/Online-scheduling-software-2.jpg}" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software2</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <img th:src="@{images/Online-scheduling-software-2.jpg}" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software3</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <img th:src="@{/images/Online-scheduling-software-2.jpg}" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software4</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <img th:src="@{/images/Online-scheduling-software-2.jpg}" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software5</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <img th:src="@{/images/Online-scheduling-software-2.jpg}" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software6</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</section>
</body>

</html>