<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProFlex</title>

<!--Navigation bar-->
<div id="navbar-placeholder">

</div>

<script>
    $(function(){
        $("#navbar-placeholder").load("navbar.html");
    });
</script>

<!--End of navigation bar -->
</head>

<body>
<article id ="mainContent">

    <div class="center-text">
        <p id="CTAText">&nbsp;&nbsp;&nbsp;&nbsp;CHECK OUT <br><em id="Y">Y</em>OUR <br>&nbsp;&nbsp;&nbsp;&nbsp;SOLUTIONS</p>
    </div>

    <section class="used-by-section">
        <h3 class="trusted-by-paragraph">Trusted by the biggest companies</h3>
        <h4 class="trusted-by-millions-paragraph">And millions of others</h4>

        <ul class="used-by-list">
            <li class="used-by-company"><img src="../static/images/lorem-logo.png" height="241.15" width="339.43"/></li>
            <li class="used-by-company"><img src="../static/images/lorem-logo.png" height="241.15" width="339.43"/></li>
            <li class="used-by-company"><img src="../static/images/lorem-logo.png" height="241.15" width="339.43"/></li>
        </ul>
    </section>

    <section class="front-page-products">
        <section id="card-container">
            <div class="card">
                <img src="../static/images/Online-scheduling-software-2.jpg" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>

            <div class="card">
                <img src="../static/images/Online-scheduling-software-2.jpg" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/Online-scheduling-software-2.jpg" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/Online-scheduling-software-2.jpg" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/Online-scheduling-software-2.jpg" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/Online-scheduling-software-2.jpg" class="products-picture" alt="picture of online scheduling software"/>
                <div class="card-description">
                    <h2 class="top-text">Online scheduling Software</h2>
                    <p class="card-p">&#10003;Easy scheduling process</p>
                    <p class="card-p">&#10003;Quick and easy</p>
                    <p class="card-p">&#10003;Powerful calendar management</p>
                </div>
            </div>
        </section>
    </section>

    <section class="our-values">
        <div class="value">
            <img class="value-img" src="../static/images/clock.png" height="170" width="170"/>
            <div class="value-text">
                <h2 class="value-heading">
                    Efficiency
                </h2>
                <p class="value-paragraph">
                    Efficiency is a crucial value for any successful company.
                    It means maximizing productivity and minimizing waste,
                    using resources in the most effective way possible to achieve
                    desired outcomes.
                </p>
            </div>
        </div>

        <div class="value">
            <img class="value-img" src="../static/images/handshake.png" height="170" width="170"/>
            <div class="value-text">
                <h2 class="value-heading">
                    Professionalism
                </h2>
                <p class="value-paragraph">
                    Professionalism is a core value for many companies,
                    as it encompasses a range of attributes such as ethical behavior,
                    accountability, respect, and a commitment to quality.

                </p>
            </div>
        </div>

        <div class="value">
            <img class="value-img" src="../static/images/innovation.png" height="170" width="170"/>
            <div class="value-text">
                <h2 class="value-heading">
                    Innovation
                </h2>
                <p class="value-paragraph">
                    Innovation is a core value for many companies, as it is essential
                    for staying competitive and adapting to changing market conditions.
                </p>
            </div>
        </div>
    </section>

    <section class="about-us">
        <h1 class="about-us-head">The ProFlex Family</h1>
        <h2 class="about-us-head2">Providing businesses with the best services to help them succeed</h2>
        <div class="about-us-container">
            <div class="about-us-section">
                <p class="about-us-paragraph">Proflex Solutions is a one-stop shop for professional services. We offer a comprehensive range
                    of software products and services to help businesses streamline their operations and maximize
                    efficiency. Our products include online scheduling software, business process automation software,
                    professional tax preparation software, professional accounting software, professional legal software,
                    and professional financial planning software.
                    <br>
                    <p class="signature">- ProFlex Team<p/>
                </p>
            </div>
            <div class="about-us-section">
                <img class="about-us-image" src="../static/images/ntnu.jpg" height="302" width="529"/>
                <img class="about-us-image" src="../static/images/BPA-solution.jpg" height="491.2" width="736.8"/>
            </div>
        </div>
    </section>

    <section class="map-container">
        <iframe  class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4000.8789472454346!2d10.753822329497973!3d59.908253477460505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416ef4d43988db%3A0x193e074c83f141bf!2sBarcode%2C%20Oslo!5e0!3m2!1sno!2sno!4v1678727903269!5m2!1sno!2sno" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </section>

    <section class="review-container">
        <h1 class="review-header">Don't just take our word for it</h1>
        <h2 class="review-header2">Testimonials</h2>
        <div class="reviewer">
            <div class="review-box">
                <div class="review-paragraph">
                    "Proflex Solutions has enabled us to streamline our operations and
                    save time. Their products are easy to use and their customer service is top-notch."

                </div>

                <div class="review-image-container">
                    <img class="review-image" src="../static/images/headshot2.jpg" height="408" width="612"/>
                </div>

                <div class="review-name">
                    - Stephanie Smith
                </div>
            </div>
            <div class="review-box">
                <div class="review-paragraph">
                    "We were looking for a reliable and cost-effective solution to our
                    business needs and Proflex Solutions delivered.
                </div>

                <div class="review-image-container">
                    <img class="review-image" src="../static/images/headshot.jpg" height="408" width="612"/>
                </div>

                <div class="review-name">
                    - Jason White
                </div>
            </div>
            <div class="review-box">
                <div class="review-paragraph">
                    "Proflex Solutions has been a great partner for our business. They have
                    provided us with the tools and resources we need to succeed.
                </div>

                <div class="review-image-container">
                    <img class="review-image" src="../static/images/headshot1.jpg" height="408" width="612"/>
                </div>

                <div class="review-name">
                    - Rachel Brown
                </div>

            </div>
        </div>

    </section>
</article>

</body>
<!-- Footer -->
<div id="footer-placeholder">
</div>

<script>
    $(function(){
        $("#footer-placeholder").load("footer.html");
    });
</script>
<!-- End of footer -->
</html>