<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Proflex- Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/login-signup.css}">
    <script th:src="@{https://code.jquery.com/jquery-1.10.2.js}"></script>
</head>
<body id="login-body">
<!-- Header -->
<div id="navbar-placeholder" th:replace="~{fragments/header :: nav}"></div>
<!-- Header -->

<form id="login-container">
    <h2 class="login-text">Login</h2>
    <span>
      <label>Email</label>
      <input type="email" id="email" name="email" placeholder="example@org.com">
    </span>

    <span>
        <label>Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
    </span>

    <p th:if="${param.error}" class="alert">Invalid username or password</p>
    <input type="submit" value="login" class="login-button" th:href="@{/profile-page}">
  <p>Don't have an account yet?&nbsp;&nbsp;<a th:href="@{/signup}" id="signup_link">Sign up here</a></p>
</form>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- End of footer -->
<script>

    const submit = document.getElementById("login-container");

    const email = document.getElementById("email");
    const password = document.getElementById("password");

    const body = {
        username: email,
        password: password
    }

    function sendRequest() {fetch('api/authentication', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(body),
    })

        .then(response => response.json())
    .then(data => {
        const jwtToken = data.jwt;
        const newUrl = "localhost:8080/index?token=" + encodeURIComponent(jwtToken);

        const newWindow = window.open(newUrl, "_blank");

        newWindow.focus();
    })
    .catch(error => {
        console.error('Error: ', error);
    })}

    submit.addEventListener("submit", sendRequest);
</script>


</body>
</html>