<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Proflex- Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/login-signup.css}">
    <script th:src="@{https://code.jquery.com/jquery-1.10.2.js}"></script>
</head>
<body id="login-body">
<!-- Header -->
<div id="navbar-placeholder" th:replace="~{fragments/header :: nav}"></div>
<!-- Header -->

<form id="login-container">
    <h2 class="login-text">Login</h2>
    <span>
      <label>Email</label>
      <input type="email" id="email" name="email" placeholder="example@org.com">
    </span>

    <span>
        <label>Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
    </span>

    <p th:if="${param.error}" name="errorField" class="alert">Invalid username or password</p>
    <input type="submit" id="submit" class="login-button">
    <p>Don't have an account yet?&nbsp;&nbsp;<a th:href="@{/signup}" id="signup_link">Sign up here</a></p>
</form>


<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- End of footer -->
<script>
    // document.getElementById('login-container').addEventListener('submit', function (event) {
    //     event.preventDefault(); // Prevent the form submission by default
    //
    //     // Perform the password check
    //
    //     // Check if the form is now valid
    //     if (this.checkValidity()) {
    //         // Get the form values
    //         const email = document.getElementById("email").value;
    //         console.log(email);
    //         const password = document.getElementById("password").value;
    //
    //         // Create the user object
    //         const requestBody = {
    //             username: email,
    //             password: password
    //         };
    //
    //         // Send a POST request to your server
    //         fetch('api/authentication', {
    //             method: 'POST',
    //             headers: {
    //                 'Content-Type': 'application/json',
    //             },
    //             body: JSON.stringify(requestBody),
    //         })
    //             .then(function (response) {
    //                 // Handle the response from the server
    //                 if (response.ok) {
    //                     const jwt = response.body;
    //                     // User created successfully
    //                     document.getElementsByName("errorField").textContent = "User created successfully";
    //                     window.location.href = "localhost:8080/?token=" + encodeURIComponent(jwt);
    //                     console.log('User created successfully!');
    //                 } else {
    //                     // Error creating user
    //                     console.log('Error logging in.');
    //                 }
    //             })
    //             .catch(function (error) {
    //                 console.log('Error:', error);
    //             });
    //     }
    // });
</script>


</body>
</html>