<head xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <script th:src="@{script.js}"></script>
</head>

<nav class="navbar">
    <div class="navbar-container">
        <a href="index.html" id="proflex-logo">ProFlex</a>

        <ul class="menu-choice-list">
            <li class="menu-button"> <a href="index.html" class="menu-links">Home</a> </li>
            <li class="menu-button"> <a onClick="index.getElementById('about-us-section').scrollIntoView();" class="menu-links">About us</a> </li>
            <li class="menu-button"> <a href=products.html class="menu-links">Products</a> </li>
            <li class="menu-button log-in-button"> <a href="log-in.html"> <img src="../static/images/user-icon.png" width="55"/> </a> </li>
        </ul>
    </div>

    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul class="menu__box">
            <li><a class="menu__item" href="index.html">Home</a></li>
            <li><a class="menu__item" href="#AboutUsSection">About us</a></li>
            <li><a class="menu__item" href="products.html">Products</a></li>
            <li><a class="menu__item" href="log-in.html">Sign in</a></li>
        </ul>
    </div>
</nav>
