<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/payment.css}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
  <div class="payment-container">
    <section class="payment-information-container">
      <h1 class="top-text">Checkout</h1>
      <h2 class="product-info">Product:</h2>
      <input id="product-name" th:text="${products.getProductName()}">
      <h2 class="product-info">Start date:</h2>
      <h3 id="start-date" class="dates"></h3>
      <h2 class="product-info">End date:</h2>
      <h3 id="end-date" class="dates"></h3>

      <form id="sub-form" class="form-information">

        <input id="userId" th:title="${users.getUserId()}" disabled>
        <input id="productId" th:title="${products.getProductId()}" disabled>
        <input placeholder="Name of card holder" id="name-on-card" required>

        <input id="email" required placeholder="example@something.org">

        <input placeholder="Card Number (16 numbers)" id="card-number" pattern="^\d{16}$" required>

        <input placeholder="Expiry-date" id="expiry-date" required >

        <input placeholder="CVC-code (3 numbers)" id="cvc" pattern="^\d{3}$" required>

        <button type="submit" id="place-order-button">Place order</button>
      </form>
      <div class="payment-options">
        <img class="payment-picture" alt="picture of the visa logo" src="/images/visa-logo.png" height="26.31" width="40.20"/>
        <img class="payment-picture" alt="picture of the paypal logo" src="/images/paypal-logo.png" height="32.0" width="64.0"/>
      </div>
      <script th:src="@{/js/payment-check.js}"></script>
    </section>

  </div>

  <script th:src="@{/js/payment.js}"></script>
</body>
</html>