<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initialscale=1">
  <title>Products</title>
  <link rel="stylesheet" href="../static/css/products.css"/>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<!--Navigation bar-->
<div id="navbar-placeholder">

</div>

<script>
  $(function(){
    $("#navbar-placeholder").load("navbar.html");
  });
</script>
<!--End of navigation bar -->

</head>

<body>
<main>
  <section id="info">
    <p id="TopText">All of our <span class="products-text"> products</span></p>
  </section>

  <section id="card-container">

    <!-- Online Scheduling Software -->
    <div class="card">

      <div class="imgBox">
      <img src="../static/images/Online-scheduling-software-2.jpg"
           alt="picture of online scheduling software"/>
      </div>

      <div class="card-description">
        <h2>Online Scheduling Software</h2>
        <p>Easy scheduling process, quick and easy, powerful calendar management</p>
      </div>

    </div>

    <!-- BPA Solutions -->
    <div class="card">

      <div class="imgBox">
      <img src="../static/images/BPA-solution.jpg"
           alt="Picture of Proflex BPA solutions"/>
      </div>

      <div class="card-description">
        <h2>ProFlex BPA Solutions</h2>
        <p>Automation processes for only 5000</p>
      </div>

    </div>

    <!-- ProFlex Tax Solutions -->
    <div class="card">

      <div class="imgBox">
      <img src="../static/images/tax-solutions.jpg"
           alt="Picture of Proflex tax solutions"/>
      </div>

      <div class="card-description">
        <h2>ProFlex Tax Solutions</h2>
        <p>Tax, legal, accounting</p>
      </div>

    </div>

    <!-- ProFlex accounting solutions -->
    <div class="card">

      <div class="imgBox">
      <img src="../static/images/accounting-solutions.jpg"
           alt="Picture of proflex accounting solutions"/>
      </div>

      <div class="card-description">
        <h2>ProFlex Accounting Solutions</h2>
        <p>Accounting, legal, tax, finance</p>
      </div>

    </div>

    <!-- Legal Solutions -->
    <div class="card">

      <div class="imgBox">
      <img src="../static/images/legal-solutions.jpg"
           alt="Picture of legal solutions"/>
      </div>

      <div class="card-description">
        <h2>Legal solutions</h2>
        <p>Legal solutions to help your company</p>
      </div>

    </div>

    <!-- ProFlex Financial Advisor Pro -->
    <div class="card">

      <div class="imgBox">
      <img src="../static/images/financial-advisor-pro.jpg"
           alt="Picture of Proflex financial advisor pro"/>
      </div>

      <div class="card-description">
        <h2>ProFlex Financial Advisor Pro</h2>
        <p>Finance, planning</p>
      </div>

    </div>
  </section>
</main>

</body>

<!-- Footer -->
<div id="footer-placeholder">
</div>

<script>
  $(function(){
    $("#footer-placeholder").load("footer.html");
  });
</script>
<!-- End of footer -->

</html>