<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initialscale=1">
  <title>Products</title>
  <link rel="stylesheet" type="text/css" th:href="@{css/products.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{css/navbar.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/footer.css}">
  <script th:src="@{https://code.jquery.com/jquery-1.10.2.js}"></script>

</head>

<body>
<!--Navigation bar-->
<div th:replace="~{navbar :: nav}"></div>
  <!--End of navigation bar -->

  <section id="info">
    <p id="TopText">All of our <span class="products-text"> products</span></p>
  </section>

  <div id="Products-category-container">
    <p>Filter by category</p>
    <a th:href="@{/products}">All</a>
    <a th:href="@{/products(category='accounting')}">Accounting</a>
    <a th:href="@{/products(category='automation')}">Automation</a>
    <a th:href="@{/products(category='finance')}">Finance</a>
    <a th:href="@{/products(category='legal')}">Legal</a>
    <a th:href="@{/products(category='planning')}">Planning</a>
    <a th:href="@{/products(category='processes')}">Processes</a>
    <a th:href="@{/products(category='scheduling')}">Scheduling</a>
    <a th:href="@{/products(category='tax')}">Tax</a>
  </div>


  <section id="card-container">
<!--    <div th:replace="~{fragments/product-card.html :: product-card}"></div>-->
    <main th:replace="~{fragments/product-card.html :: product-card}"></main>
  </section>

<div th:replace="~{footer :: footer}">
</div>


</body>

<!-- Footer -->
<!-- End of footer -->

</html>