<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" th:href="@{/css/product.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div th:replace="navbar :: nav"></div>

<main>
  <article id="buy-option">
    <h2>ProFlex Accounting</h2>
    <div id="button-container" >
      <span id="text-and-button-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nesciunt nobis, nostrum omnis perferendis vero!</p>
        <a id="buy-now-button" title="Click her to see subscription options" href="">
          Buy Now
      </a></span>

      <img th:src="@{/images/accounting-solutions.jpg}" title="Our Solution for you!" alt="Picture of our solution" height="500" width="800"/>
    </div>
  </article>


  <h3 id="title-description">Description</h3>

  <p id="product-description">Description-of-product</p>

  <h3 id="title-reviews">Reviews</h3>
</main>

<div th:replace="footer :: footer"></div>

</body>
</html>