<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile-page</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/products.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/profilePage.css}">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<!--Navigation bar-->
<div th:replace="~{fragments/header :: nav}"></div>
<!--End of navigation bar -->

<main>

<ul class="profile_box">
<!--    <img th:src="${user.imageURL}" alt="picture of the user"/>-->
    <li><a class="profile_item user_name" th:if="${user != null}" th:text="${user.firstName} + ' ' + ${user.lastName}"></a></li>
    <li><label class="profile_item profile_item_label" for="email">Email: </label></li>
    <li><a class="profile_item" id="email" th:if="${user != null}" th:text="${user.email}"></a> </li>
    <li><label class="profile_item profile_item_label" for="phoneNumber">Phone number: </label></li>
    <li><a class="profile_item" id="phoneNumber" th:if="${user != null}" th:text="${user.phoneNumber}"></a></li>
    <li><form method="post" th:action="@{/logout}"><input id="log-out-button" type="submit" value="Log out"></form></li>
</ul>


<div id="my_subscriptions">
    <h1>My Subscriptions</h1>


    <!-- TODO - Only include cards that the user subscribes to -->
    <!-- Featured product cards-->
    <section id="card-container">
        <main th:replace="~{fragments/featured-product-card.html :: featured-product-list}"></main>
    </section>
    <!-- End of featured product cards-->
</div>
</main>


<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- End of footer -->
</body>
</html>