<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="product.css">
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<header class="navbar">
  <div class="navbar-container">
    <a href="../html&Css/index.html" id="proflex-logo">ProFlex</a>
  </div>

  <ul class="menu-choice-list">
    <li class="menu-button">
      <a href="../html&Css/index.html" class="menu-links">Home</a>
    </li>
    <li class="menu-button">
      <a href="#about-us-section" class="menu-links">About us</a>
    </li>
    <li class="menu-button">
      <a class="menu-links">Products</a>
    </li>
  </ul>
</header>

<main>
  <article id="buy-option">
    <h2>ProFlex Accounting</h2>
    <div id="button-container" >
      <span id="text-and-button-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nesciunt nobis, nostrum omnis perferendis vero!</p>
        <a id="buy-now-button" title="Click her to see subscription options" href="">
          Buy Now
      </a></span>

      <img src="../static/images/accounting-solutions.jpg" title="Our Solution for you!" alt="Picture of our solution" height="500" width="800"/>
    </div>
  </article>


  <h3 id="title-description">Description</h3>

  <p id="product-description">Description-of-product</p>

  <h3 id="title-reviews">Reviews</h3>
</main>


</body>
</html>