<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up site</title>
    <link rel="stylesheet" th:href="@{/css/login-signup.css/}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script th:src="@{js/password-check.js}"></script>
</head>
<body id="signup-site">

    <h1>ProFlex</h1>

    <main id="login-container">
<!--        <h2>Sign up site</h2>-->
    <form>
        <span>
            <label for="firstname">First Name</label>
            <input id="firstname" name="firstname" placeholder="First name" required/>
        </span>
        <span>
            <label for="lastname">Last Name</label>
            <input id="lastname" name="lastname" placeholder="Last name" required/>
        </span>
        <span>
            <label for="email">Email</label>
            <input id="email" name="email" type="email" required placeholder="example@something.org"/>
        </span>
            <span>
                <script src="password-check.js"></script>
                <label for="password">Password</label>
                <input type="password" id="password" name="password"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       title="Must contain at least one number and one uppercase and
                       lowercase letter, and at least 8 or more characters" required oninput="check()"/>
            </span>
            <span>
                <label for="password-confirm">Confirm Password</label>
                <input id="password-confirm" name="password-confirm" type="password" required oninput="check()"/>
            </span>
        <span>
            <label for="phoneNumber">PhoneNumber</label>
            <input id="phoneNumber" name="phoneNumber" type="number">
        </span>
            <span>
                <div class="passwords">
                    <input name="terms" id="terms" type="checkbox" required>
                    <p>Read our term of knowledge</p>
                </div>
                <div class="passwords">
                    <input name="subscription" id="subscription" type="checkbox">
                    <p>Want to be up-to-date? Subscribe to our newsletter</p>
                </div>

            </span>
        <span>
            <button type="submit" id="submit" class="login-button">Submit</button>
        </span>
    </form>

</main>
</body>
</html>