<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles/responsive.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/product.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<!-- Header -->
<div id="navbar-placeholder" th:replace="~{fragments/header :: nav}"></div>
<!-- Header -->


<main th:insert="~{fragments/singleProductCard :: product-individual}"></main>


<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- End of footer -->

</body>
</html>