@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "navbar/navbar.css";

html {
    font-family: Inter;
    font-size: 62.5%;
}

body {
    margin: 0;
    background-image: linear-gradient(to top, #aeffff, azure, rgba(180, 46, 83, 0.62));
    background-repeat: space;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
}

#login-body{
    background-image: url('../images/matrix.gif');
}

h2 {
    font-size: 5rem;
    text-align: center;
    color: lime;
    text-shadow: red 1rem 1rem;
}

input {
    border-radius: 0.5rem;
}

main {
    align-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    width: fit-content;
}

#login-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 50rem;
    background-color: #383535;
    color: lightgrey;
    border-radius: 1rem;
    height: 50rem;

}

span {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

input {
    margin: 1rem;
    font-size: 2rem;
    padding: 0.5rem;
}

label {
    font-size: 3rem;
    font-weight: bold;
}

label:hover {

}

button {
    padding: 1rem;
    font-size: 3rem;
    border-radius: 3rem;
    cursor: url("../images/pointer.png"), pointer !important;
}

p {
    font-size: 1.5rem;
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button:hover {
    animation: rotating 0.01s linear infinite;
    animation-delay: 5s;
}

.passwords {
    display: flex;
    flex-direction: row;
}

#signup_link{
    text-decoration: none;
    color: #ef4374;
}

h1{
    color: white;
    font-family: Inter;
    font-weight: bold;
    font-size: 6.5rem;
    margin: 1rem;
}

