@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap');

body{
    background-color: white;
    font-family: Inter;
    max-width: 550px;
    min-height: 1270px;
}

li{
    float: left;
    margin: 0px 15px;
    font-family: Inter;
}

#menu-choices {
    list-style: none;
    color: black;
    font-family: Inter;
    font-size: 40px;
    font-weight: bold;
    float: left;
    overflow: hidden;
    position: absolute;
}

#home-button, #About-us-button, #products-button {
}

#home-button:hover,#products-button:hover, #About-us-button:hover {
    transform: scale(0.98);
    cursor: pointer;
}

#home-button:active,#products-button:active, #about-us-button:active {
    opacity: 0.4;
}