body{
    background-color: white;
    font-family: Inter;
    max-width: 550px;
    min-height: 1270px;
}

#menu-choices {
    list-style: none;
    color: black;
    font-family: Inter;
    font-size: 40px;
    font-weight: bold;
    float: left;
    overflow: hidden;
    position: absolute;
}

#home-button:hover,#products-button:hover, #about-us-button:hover {
    transform: scale(0.98);
    cursor: pointer;
}

#home-button:active,#products-button:active, #about-us-button:active {
    opacity: 0.4;
}